body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
    font-family: 'Open Sans',sans-serif,sans-serif !important;
    background-color: whitesmoke;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

center {
    background: rgba(38,38,38,1);
    font-variant-caps: all-small-caps;
    color: #fff;
}

    center a {
        color: #fff;
        font-size: 2em;
        text-decoration-line: none;
        margin-bottom: 20px;
    }


.navigationBar {
    display: flex;
    background: #333;
}

.navigList {
    display: inline;
    width: 20%;
    padding: 20px;
    font-variant-caps: all-small-caps;
}

    .navigList a {
        color: #fff;
        text-decoration-line: none;
        text-shadow: 10px 10px 10px #000;
        font-size: 1.2em;
    }

        .navigList a:hover {
            /*text-decoration-line: underline;*/
            text-shadow: none;
            color: lightblue;
            background-color: none !important;
        }

.btn {
    border-radius: 2px;
    color: #000;
    text-decoration-line: none;
    padding: 5px;
    box-shadow: 2px 2px 2px #333;
    width: 200px;
    font-variant-caps: all-petite-caps;
}

    .btn:hover {
        box-shadow: none;
        cursor: pointer;
        color: #000;
    }

.saveBtn {
    background: seagreen;
}

.cancelBtn {
    background: orangered;
}

.searchBtn {
    background-color: dodgerblue;
}

.createBtn {
    background-color: cadetblue;
}

.input {
    border-radius: 3px;
    box-shadow: 2px 2px 2px #555;
}

#searchBox {
    border-radius: 3px;
    /*box-shadow: 1px 1px 1px #555;*/
    height: 40px;
}

input {
    margin-bottom: 5px;
}

    /*input:active {
        box-shadow: 1px -1px 1px #333 inset;
    }

    input:focus {
        box-shadow: 1px -1px 1px #333 inset;
    }*/

h2 {
    text-align: center;
    border-bottom: 1px groove;
    font-variant-caps: all-small-caps;
    width: fit-content;
    width: -moz-fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 36px;
    margin-bottom: 20px;
}

.editLabel {
    font-size: 1.2em;
    color: #000;
    width: 100px;
    display: block;
    margin-right: 20px;
    font-variant-caps: all-small-caps;
}

textarea {
    border-radius: 3px;
    border: 1px solid #666;
    width: 200px;
    margin-bottom: 5px;
    box-shadow: 1px 1px 1px #333;
}

.list-header {
    height: 50px;
    color: white;
    text-decoration-line: none;
    align-content: center;
    vertical-align: central;
    margin: 5px;
    line-height: 50px;
    list-style: none;
    display: table;
    width: 98%;

}

.list-item {
    height: 50px;
    /*background: #fff;*/
    /*border: 1px groove;*/
    color: black;
    text-decoration-line: none;
    align-content: center;
    vertical-align: central;
    /*margin: 5px;*/
    line-height: 50px;
    /*border-radius: 3px;*/
    list-style: none;
    /*box-shadow: 2px 2px 2px #999;*/
    display: table;
    width: 98%;
    border-bottom: 1px groove;
    text-align: left;
    font-variant-caps: small-caps;
}

    .list-item:hover {
        background: #e0e0e0;
        box-shadow: none;
        cursor: pointer;
    }

    .list-item a {
        color: black;
        text-decoration-line: none;
        float: left;
    }

form {
    width: -moz-fit-content;
    padding: 5px;
}

.form-div {
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.search-div {
    /*width: -moz-fit-content;
    margin-left: auto;
    margin-right: auto;*/
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.info-div {
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    /*background: #E0E0E0;*/
    border-radius: 3px;
    min-width: 500px;
}

.info-title {
    border-bottom: 1px groove;
    text-align: center;
}

.list-column {
    text-align: left;
    display: table-cell;
    overflow: hidden;
    /*white-space: nowrap;*/
    text-overflow: ellipsis;
}

.list-column-second {
    width: 10%;
}

.list-column-first {
    width: 25%;
    padding-left: 10px;
}

.valLabel {
    color: red;
    font-variant-caps: small-caps;
}

p {
    font-variant-caps: small-caps;
}

.list-group {
    height: 575px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background: floralwhite;
    box-shadow: 3px 3px 3px lightgrey;
}
.boldP{
    font-weight: bold;
    font-size: 16px;
}
.infoTable{
    width: 100%;
}
.fixed_headers {
    width: 50%;
    table-layout: fixed;
    border-collapse: collapse;
}
tbody{
    display: block;
    overflow: auto;
    width: 100%;
    height: 500px;
}
tr {
    display: block;
    position: relative;
}
thead {
    background: #555;
    font-variant-caps: all-small-caps;
    font-size: 18px;
    box-shadow: 0px 2px 2px #333;
}
.form-control{
    display: initial !important;
}
div.image {
    content: url(images/books.jpg);
    margin-left: auto;
    margin-right: auto;
}
.navigBar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
}
.error-label{
    color: red;
}