@model IEnumerable<Service.Models.User>
@{ 
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
  
<h2>ADMINISTRATORS</h2>

<ul>
    @foreach (var admin in Model)
    {
        <li class="list-item">@admin.UserName</li>
    }
</ul>
