@model IEnumerable<Service.Models.Author>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Authors</h2>


<div class="search-div">
    <input type="text" id="searchBox" style="display:initial;" class="form-control" onkeyup="searchFunction()" placeholder="Filter authors" />
    @if (Session["user"] != null)
    {
        <div style="float:right; display:flex;">
            @Html.ActionLink("Create Author", "Add", "Authors", new { @class = "btn createBtn" })
        </div>
    }
</div>


<div class="list-group">
    <table style="width: 100%;" class="fixed_headers" id="authorTable">
        <thead>
            <tr class="list-header">
                <th class="list-column list-column-first">Author</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var author in Model)
            {
                <tr onclick="location.href='@Url.Action("Info", "Authors", new { id = author.Aid }, null)'" class="list-item">
                    <td class="list-column-first">
                        @author.FirstName @author.LastName
                    </td>

                </tr>
            }
        </tbody>

    </table>

</div>



<script type="text/javascript">

    function searchFunction() {
        // Declare variables
        var input, filter, table, tr, td, i;
        input = document.getElementById("searchBox");
        filter = input.value.toUpperCase();
        table = document.getElementById("authorTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>