@model IEnumerable<Service.Models.Author>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Authors</h2>

<div class="input-group">
    @using (Html.BeginForm())
    {
        @Html.TextBox("searchBox")
        <a href="#" class="btn searchBtn">Search</a>
            @*<input type="submit" value="search"/>*@

    }
</div>

<ul>
    @foreach (var author in Model)
    {
        <li class="list-item">@Html.ActionLink(author.FirstName == null ? "missing" : author.FirstName, "Info", "Authors", new { id = author.Aid }, null)</li>
    }
</ul>
@Html.ActionLink("Create Author", "Create", "Authors", new { @class = "btn createBtn" })

