@model Service.Models.Author
@{
    ViewBag.Title = "Info";
}

<h2>Info</h2>
<div class="info-div">
    <h1 class="info-title">@Model.Name</h1>
    <p>@Model.Information</p>
</div>
<div>
</div>
@Html.ActionLink("Edit Author", "Edit", "Authors")