@model Service.Models.Book
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Book</h2>
<div class="form-div">
    @using (Html.BeginForm())
    {

    <div><label class="editLabel">Name:</label> @Html.TextBox("Name", Model.Name)</div>
    <div><label class="editLabel">Author:</label> @Html.TextBox("Author", Model.Author)</div>
    <div><label class="editLabel">Id:</label> @Html.TextBox("Id", Model.Id)</div>
    <div><label class="editLabel">Information:</label> @Html.TextArea("Information", Model.Information)</div>
    <div style="height: 30px;"><input type="submit" value="Save" formmethod="post" class="btn saveBtn" style="float:right;" /></div>

    }
</div>