@model Service.Models.Book
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Book</h2>

@using (Html.BeginForm())
{
    @:<label class="editLabel">Name:</label> @Html.TextBox("Name", Model.Name)<br/>
    @:<label class="editLabel">Author:</label> @Html.TextBox("Author", Model.Author)<br />
    @:<label class="editLabel">Id:</label> @Html.TextBox("Id", Model.Id)<br />
    @:<label class="editLabel">Information:</label> @Html.TextArea("Information",Model.Information)<br />
    <input type="submit" value="Add" formmethod="post" class="btn" />
}