@model IEnumerable<Service.Models.Book>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>BOOKS</h2>

@if (!Model.Any())
{
    <p>There are no books</p>
}

<div class="input-group">
    @using (Html.BeginForm())
    {
        @:Search
        @Html.TextBox("searchBox")
        <a href="#" class="btn btn-default">Search</a>
        @*<input type="submit" value="search"/>*@

    }
</div>

<div class="list-group">
    <ul>
        @foreach (var book in Model)
        {
            <li><a>@Html.ActionLink(book.Name, "Info", "Books", new { id = book.Id }, null)</a></li>
        }
    </ul>
</div>
@Html.ActionLink("Create Book", "Create", "Books", new { @class = "btn" })