@model IEnumerable<Repository.BOOK>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>BOOKS</h2>

@if (!Model.Any())
{
    <p>There are no books</p>
}

<div class="search-div">
    @using (Html.BeginForm())
    {
        @Html.TextBox("searchBox")
        <a href="#" class="btn searchBtn">Search</a>
        @*<input type="submit" value="search"/>*@

    }
</div>

<div class="list-group">
    <ul>
        @foreach (var book in Model)
        {
            <li class="list-item">@Html.ActionLink(book.Title, "Info", "Books", new { id = book.ISBN }, null)</li>
           
        }
    </ul>
</div>
@Html.ActionLink("Create Book", "Create", "Books", new { @class = "btn createBtn" })