@model IEnumerable<Service.Models.Book>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>BOOKS</h2>

@if (!Model.Any())
{
    <p>There are no books</p>
}


    <div class="search-div">
        <input type="text" id="searchBox" onkeyup="searchFunction()" placeholder="Filter books" />
        @if (Session["user"] != null)
        {
        <div style="float:right; display:flex;">
            @Html.ActionLink("Create Book", "Add", "Books", new { @class = "btn createBtn" })
        </div>
        }
    </div>



<div class="list-group">
    <table style="width:100%;" id="bookTable">
        <thead>
        <tr class="list-header">
            <th class="list-column list-column-first">TITLE</th>
            <th class="list-column list-column-second">AUTHORS</th>

        </tr>
        </thead>
        @foreach (var book in Model)
        {
            <tr onclick="location.href='@Url.Action("Info", "Books", new { id = book.ISBN }, null)'" class="list-item">
                <td class="list-column list-column-first">
                    @book.Title
                </td>
                <td class="list-column list-column-second">
                    @book.Authors
                </td>

            </tr>
        }

    </table>

</div>


<script type="text/javascript">

    function searchFunction() {
        // Declare variables
        var input, filter, table, tr, td, i;
        input = document.getElementById("searchBox");
        filter = input.value.toUpperCase();
        table = document.getElementById("bookTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>


